@import url("https://fonts.cdnfonts.com/css/futura-md-bt");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@font-face {
  font-family: Bebas;
  src: url(assets/BebasNeue-Regular.otf);
}
@keyframes opacity-delay {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(-65%) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}
.particle_bg {
  animation-name: opacity-delay;
  animation-duration: 2.2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body, #particle-js {
  width: 99%;
  height: 100%;
  background: #111111;
}

.hero-logo {
  width: 35em;
  filter: drop-shadow(0px 0px 10px #111);
  pointer-events: none;
}

.hero-div {
  animation-name: opacity;
  animation-duration: 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-sub-text {
  color: #eb0028;
  background-color: white;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 0.35em;
}

.text-spaced {
  display: flex;
  justify-content: space-between;
  width: 34em;
  margin: 0 0.5em;
}
.text-spaced span {
  font-size: 2.4rem;
  font-weight: 700;
  color: #eb0028;
  font-family: "Futura Md BT", sans-serif;
}

.unit {
  width: 15em;
  margin: 0 auto;
  margin-top: 1em;
}
.unit span {
  color: white;
  font-size: 2rem;
}

body {
  margin: 0;
  text-align: center;
  font-size: 10px;
  -webkit-overflow-scrolling: touch;
}

.lamp {
  position: absolute;
  right: 15%;
  top: -20%;
  width: 10em;
  display: inline-block;
  transform-origin: top center;
  transform: rotate(45deg);
  animation: lamp 5s forwards;
}

.bulb {
  fill: #eb0028;
  fill-opacity: 1;
  animation: bulb 0.3s 0.3s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate forwards;
}

.switch {
  transition: transform 0.3s;
}
.switch:active {
  transform: translateY(5px);
}

.nav-btns {
  font-size: 1.65rem;
  font-family: "Futura Md BT", sans-serif;
  transition-duration: 0.4s;
  color: white;
}
.nav-btns li a {
  color: #fff;
}
.nav-btns li:hover {
  background-color: #eb0028;
  transition-duration: 0.6s;
}
.nav-btns li:hover a {
  color: #fff;
}

@keyframes bulb {
  to {
    fill-opacity: 1;
    fill: #eb0028;
  }
}
@keyframes lamp {
  5% {
    transform: rotate(-15deg);
  }
  10% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  65% {
    transform: rotate(3deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hero-sec {
  height: 350vh;
  overflow: hidden;
  position: relative;
}

body {
  font-family: "Roboto Condensed";
}

.navbar {
  height: 65px;
  background: transparent;
  margin-top: 1.5em;
  transition-duration: 0.7s;
}
.navbar .container {
  height: 65px;
}
.navbar .navbar-brand, .navbar .navbar-nav a {
  color: white;
  font-size: 1.75rem;
  transition: 0.3s;
  height: 65px;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand:hover, .navbar .navbar-nav a:hover {
  transition: 0.5s;
  background-color: #eb0028;
}

.fixed {
  border-bottom: none;
}

.nav-logo {
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

.navbar-brand {
  padding: 0;
  padding-left: 5px;
}

.navbar-bg {
  margin: 0;
  background: rgba(30, 30, 30, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom: 1px solid #2e2e2e;
  transition-duration: 0.7s;
}

.navbar-right {
  margin-right: 3em;
}

.join-btn-nav {
  background-color: #eb0028;
  color: #fff;
}

.section-heading {
  color: #eb0028;
  text-transform: uppercase;
}

.head-text {
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
}

.head-text-about {
  width: 20%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #eb0028;
}
.head-text-about span {
  font-size: 3.8rem;
  color: #000;
}

.head-text-studo {
  width: 38%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #eb0028;
}
.head-text-studo span {
  font-size: 4rem;
  color: #000;
}

section {
  height: auto;
  min-height: 50vh;
}

.lightbulb-logo {
  width: 78%;
  margin-top: 0em;
  position: absolute;
  left: -37%;
}

.sec-about-studo {
  position: relative;
}

.about-text-main {
  font-family: "Futura Md BT", sans-serif;
  position: absolute;
  font-size: 2.8rem;
  font-weight: bold;
  color: #eb0028;
  width: 40%;
  right: 10%;
  margin-top: 13%;
}

section {
  width: "100%";
  height: 90vh;
}

.wheel-group {
  position: relative;
}

.wheel {
  width: 38em;
}

.wheel-group {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: opacity;
  animation-duration: 1.2s;
  background-color: #111;
  box-shadow: 0px 0px 19px 5px rgb(17, 17, 17);
}

.x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 10s linear infinite;
  transform-origin: top left;
  width: 8.5em;
  background-color: #eb0028;
  -webkit-mask-image: url("assets/X_Mask.png");
          mask-image: url("assets/X_Mask.png");
  -webkit-mask-box-image: url(assets/X_Mask.png);
}

.scrollTrack {
  width: 100%;
  height: 12px;
  background-color: #eb0028;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

.about {
  width: 45%;
  height: 75vh;
  margin-top: 12.5vh;
}

.about-head {
  font-family: "Bebas";
  font-size: 13rem;
  color: #eb0028;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0;
  z-index: 99;
  width: 0;
  height: 186px;
  overflow: hidden;
}
.about-head .super {
  font-size: 9rem;
}

#main-creative-section {
  background-color: white;
  position: absolute;
  width: 100%;
}

#main-creative {
  position: relative;
  right: 10em;
  bottom: 13em;
  width: 87%;
}

.bubble8 {
  position: absolute;
  width: 13em;
  bottom: 36.5em;
  right: 57.5em;
}

.bubble7 {
  position: absolute;
  width: 14em;
  bottom: 24em;
  left: 84em;
}

.bubble9 {
  position: absolute;
  width: 16em;
  bottom: 10.5em;
  left: 78.5em;
}

.bubble5 {
  position: absolute;
  width: 17em;
  bottom: 43em;
  right: 42em;
}

.bubble4 {
  position: absolute;
  width: 15.5em;
  bottom: 22em;
  right: 39.5em;
}

.bubble6 {
  position: absolute;
  width: 18em;
  bottom: 4em;
  right: 40em;
}

.bubble2 {
  position: absolute;
  width: 16em;
  bottom: 23em;
  right: 22em;
}

.bubble1 {
  position: absolute;
  width: 20em;
  bottom: 47em;
  right: 20em;
}

.bubble3 {
  position: absolute;
  width: 20em;
  bottom: 0.5em;
  right: 17em;
}

.bubbles {
  transition: all 0.2s;
}

.bubbles:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(240, 33, 33, 0.93);
  transform: translateY(-0.25em);
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */