@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/futura-md-bt");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@font-face {
  font-family: Bebas;
  src: url(assets/BebasNeue-Regular.otf);
}
@keyframes opacity-delay {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(-65%) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

.particle_bg {
  animation-name: opacity-delay;
  animation-duration: 2.2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body,
#particle-js {
  width: 100%;
  height: 100%;
  background: #111111;
  overflow-x: hidden;
}

.hero-logo {
  width: 35em;
  filter: drop-shadow(0px 0px 10px #111);
  pointer-events: none;
}

.hero-div {
  animation-name: opacity;
  animation-duration: 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-sub-text {
  color: #eb0028;
  background-color: white;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 0.35em;
}

.text-spaced {
  display: flex;
  justify-content: space-between;
  width: 34em;
  margin: 0 0.5em;
}
.text-spaced span {
  font-size: 2.4rem;
  font-weight: 700;
  color: #eb0028;
  font-family: "Futura Md BT", sans-serif;
}

.unit {
  width: 15em;
  margin: 0 auto;
  margin-top: 1em;
}
.unit span {
  color: white;
  font-size: 2rem;
}

body {
  margin: 0;
  text-align: center;
  font-size: 10px;
  -webkit-overflow-scrolling: touch;
}

.lamp {
  position: absolute;
  right: 15%;
  top: -20%;
  width: 10em;
  display: inline-block;
  transform-origin: top center;
  transform: rotate(45deg);
  animation: lamp 5s forwards;
}

.bulb {
  fill: #eb0028;
  fill-opacity: 1;
  animation: bulb 0.3s 0.3s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate forwards;
}

.switch {
  transition: transform 0.3s;
}
.switch:active {
  transform: translateY(5px);
}

.nav-btns {
  font-size: 1.65rem;
  font-family: "Futura Md BT", sans-serif;
  transition-duration: 0.4s;
  color: white;
}
.nav-btns li a {
  color: #fff;
}
.nav-btns li:hover {
  background-color: #eb0028;
  transition-duration: 0.6s;
}
.nav-btns li:hover a {
  color: #fff;
}

@keyframes bulb {
  to {
    fill-opacity: 1;
    fill: #eb0028;
  }
}
@keyframes lamp {
  5% {
    transform: rotate(-15deg);
  }
  10% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  65% {
    transform: rotate(3deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hero-sec {
  height: 2485px;
  overflow: hidden;
  position: relative;
}

body {
  font-family: "Roboto Condensed";
}

.navbar {
  height: 65px;
  background: transparent;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  transition-duration: 0.7s;
}
.navbar .container {
  height: 65px;
  margin: 0;
}
.navbar .navbar-brand,
.navbar .navbar-nav a {
  color: white;
  font-size: 1.75rem;
  transition: 0.3s;
  height: 65px;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand:hover,
.navbar .navbar-nav a:hover {
  transition: 0.5s;
  background-color: #eb0028;
}

.navbar-btn-logo {
  width: 3.5em;
}

.fixed {
  border-bottom: none;
}

.nav-logo {
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

.navbar-brand {
  padding: 0;
  padding-left: 5px;
}

.navbar-bg {
  margin: 0;
  background: rgba(30, 30, 30, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom: 1px solid #2e2e2e;
  transition-duration: 0.7s;
}

.navbar-right {
  margin-right: 3em;
}

.join-btn-nav {
  background-color: #eb0028;
  color: #fff;
}

.section-heading {
  color: #eb0028;
  text-transform: uppercase;
}

.head-text {
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
}

.head-text-about {
  width: 20%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #eb0028;
}
.head-text-about span {
  font-size: 3.8rem;
  color: #000;
}

.head-text-studo {
  width: 38%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #eb0028;
}
.head-text-studo span {
  font-size: 4rem;
  color: #000;
}

section {
  height: auto;
}

.lightbulb-logo {
  width: 78%;
  margin-top: 0em;
  position: absolute;
  left: -37%;
}

.sec-about-studo {
  position: relative;
}

.about-text-main {
  font-family: "Futura Md BT", sans-serif;
  position: absolute;
  font-size: 2.8rem;
  font-weight: bold;
  color: #eb0028;
  width: 40%;
  right: 10%;
  margin-top: 13%;
}

section {
  width: "100%";
}

.wheel-group {
  position: relative;
}

.wheel {
  width: 38em;
}

.wheel-group {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: opacity;
  animation-duration: 1.2s;
  background-color: #111;
  box-shadow: 0px 0px 19px 5px rgb(17, 17, 17);
}

.x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 10s linear infinite;
  transform-origin: top left;
  width: 8.5em;
  background-color: #eb0028;
  -webkit-mask-image: url("assets/X_Mask.png");
          mask-image: url("assets/X_Mask.png");
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}

.scrollTrack {
  width: 100%;
  height: 12px;
  background-color: #eb0028;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

.about {
  width: 45%;
  height: 75vh;
  margin-top: 12.5vh;
}

.about-head {
  font-family: "Bebas";
  font-size: 13rem;
  color: #eb0028;
  margin-top: 1em;
  margin-bottom: -2.7em;
  opacity: 1;
  z-index: 99;
  width: 0;
  height: 186px;
  overflow: hidden;
  margin-left: 0.7em;
  text-align: left;
}
.about-head .super {
  font-size: 9rem;
}

.about-text {
  font-family: "Futura Md BT", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-left: 6em;
  padding-left: 1em;
  overflow: hidden;
  z-index: 99;
  text-align: left;
  opacity: 0;
  border-left: 4px solid #eb0028;
  height: 515px;
  width: 0;
  transform: translateY(70%);
}

.inlineLinks {
  color: #eb0028;
  text-decoration: underline;
}

#main-creative-section {
  background-color: white;
  position: relative;
  width: 100%;
  height: 90vh;
}

.main-creative-wrap {
  position: relative;
  width: 100%;
}

.main-theme-section {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 5vh 9vh;
}
.main-theme-section .title {
  font-family: "Bebas";
  font-size: 14rem;
  opacity: 0;
  transition: ease 0.65s;
  color: #000;
  width: 100%;
  text-align: center;
}
.main-theme-section .wrap {
  width: 100%;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  margin-top: 2em;
  opacity: 0;
  transition: ease-out 0.65s;
}

.main-text-wrap {
  width: 100%;
}

#main-creative {
  position: relative;
  right: 10em;
  bottom: 13em;
  width: 87%;
}

.bubble8 {
  position: absolute;
  width: 13em;
  bottom: 37em;
  right: 57.5em;
}

.bubble7 {
  position: absolute;
  width: 14em;
  bottom: 24em;
  right: 53.5em;
}

.bubble9 {
  position: absolute;
  width: 16em;
  bottom: 7em;
  right: 56em;
}

.bubble5 {
  position: absolute;
  width: 17em;
  bottom: 39em;
  right: 40em;
}

.bubble4 {
  position: absolute;
  width: 15.5em;
  bottom: 22em;
  right: 36em;
}

.bubble6 {
  position: absolute;
  width: 18em;
  bottom: 0.5em;
  right: 38em;
}

.bubble2 {
  position: absolute;
  width: 18em;
  bottom: 18em;
  right: 14em;
}

.bubble1 {
  position: absolute;
  width: 20em;
  bottom: 38em;
  right: 17em;
}

.bubble3 {
  position: absolute;
  width: 20em;
  bottom: -9em;
  right: 17em;
}

.bubbles {
  transition: all 0.2s;
}

.bubbles:hover {
  filter: drop-shadow(4px 5px 2px rgba(0, 0, 0, 0.4));
  transform: translateY(-0.25em);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.date-sec {
  width: 100%;
  opacity: 1;
  transition: all 1s;
  height: auto;
}

.date-wrap {
  height: 45vh;
  width: 93%;
  margin: 0 auto;
  margin-top: 25vh;
  display: flex;
  justify-content: space-evenly;
}
.date-wrap .cardContainer {
  opacity: 0;
  height: 80%;
  width: 24%;
  transition: ease-in-out 0.5s;
  border-radius: 8px;
  outline-color: #eb0028;
}
.date-wrap .cardContainer:hover {
  outline-color: #eb0028;
  outline-width: 2px;
  outline-style: solid;
  border-radius: 20px;
  transform: scale(1.1);
  transition: ease-in-out 0.6s;
  box-shadow: 0px 0px 201px -5px rgba(0, 0, 0, 0.7);
  background-color: #111;
}
.date-wrap .cardContainer .top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5em;
}
.date-wrap .cardContainer .top .icon {
  font-size: 4rem;
  color: #eb0028;
}
.date-wrap .cardContainer .top .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #eb0028;
  margin-left: 2px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
  font-family: "Futura Md BT", sans-serif;
}
.date-wrap .cardContainer .bottom {
  width: 100%;
  height: 50%;
  padding: 0 1.5em;
}
.date-wrap .cardContainer .bottom p {
  color: white;
  text-align: left;
  margin-left: 2px;
  font-family: "Futura Md BT", sans-serif;
  font-size: 1.34rem;
}

.map {
  width: 74%;
  border-radius: 10px;
  outline-color: #eb0028;
  outline-style: solid;
  outline-width: 5px;
  margin-bottom: 20vh;
}

.timer-wrap {
  opacity: 0;
  transition: all 1s;
}

.visible {
  opacity: 1 !important;
}

#timer {
  font-size: 5em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 25px #eb0028;
  transform: scale(2.5);
}
#timer div {
  display: inline-block;
  min-width: 90px;
}
#timer div span {
  color: #eb0028;
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}

.cardbutton {
  all: unset;
  cursor: pointer;
  padding: 0.5em;
  outline: 1px solid #d4aa00;
  color: #d4aa00;
}

.cardbutton:hover {
  all: unset;
  cursor: pointer;
  padding: 0.5em;
  color: white;
  background-color: #d4aa00;
}

.card {
  border-radius: 100px;
  width: 25%;
  max-width: 300px;
  height: 400px;
  background-color: transparent;
}

#card2 {
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;
  transition: transform 0.75s;
}

.inner * {
  backface-visibility: hidden;
}

.cover {
  color: red;
  width: 100%;
  max-width: 350px;
  height: 500px;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-in-out;
}

.cover2 {
  position: relative;
  width: 100%;
  height: 100%;
  top: -101%;
  transform: rotateY(180deg);
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.speakersimg {
  width: 100%;
  max-width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  backface-visibility: hidden;
}

.containercards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.curators-section {
  width: 93%;
  margin: 0 auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}

.curators-h {
  font-family: "Bebas";
  font-size: 8rem;
  color: #eb0028;
}

.supmaam {
  display: flex;
  margin-top: 7rem;
  width: 70%;
  justify-content: space-between;
}
.supmaam img {
  width: 30%;
}
.supmaam p {
  border-right: red solid;
}

#trailer {
  border-radius: 20px;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 9;
  transition: transform 0.001s ease-in-out, background-color 0.1s ease;
  box-shadow: 0px 0px 73px 47px rgba(235, 0, 40, 0.27);
}

body:hover > #trailer {
  opacity: 1;
}

.interactables {
  width: 100px;
  height: 100px;
  width: 200px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s all;
}

.interactables:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.interactable {
  width: 100px;
  height: 100px;
  width: 200px;
  height: 420px;
  background: white;
  transition: 0.5s all;
}

.interactable:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.tickets-sec {
  width: 100%;
  height: auto;
  display: flex;
  margin: 10vh 0;
  padding: 0 5em;
}
.tickets-sec .lhs {
  width: 40%;
  overflow: hidden;
  z-index: 999;
}
.tickets-sec .lhs .ticket {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: ease-out 0.3s;
  z-index: 999;
}
.tickets-sec .lhs .ticket:hover {
  box-shadow: 0px 0px 201px -5px #eb0028;
  transform: scale(1.06);
  transition: ease-out 0.5s;
}
.tickets-sec .rhs {
  width: 60%;
}
.tickets-sec .rhs .header {
  font-family: "Bebas";
  font-size: 8rem;
  color: #eb0028;
}
.tickets-sec .rhs .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  width: 85%;
  margin: auto;
  color: #fff;
  margin-top: 1em;
}
.tickets-sec .rhs .price {
  font-family: "Bebas", sans-serif;
  font-size: 14rem;
  color: #eb0028;
  margin: 0.45em 0;
  text-shadow: #eb0028 0px 0px 205px;
}
.tickets-sec .rhs .qrcode {
  max-width: 250px;
  transition: ease-in 0.5s;
}
.tickets-sec .rhs .qrcode:hover {
  transform: scale(1.1);
  transition: ease-out 0.5s;
  box-shadow: 0px 0px 73px 17px rgba(235, 0, 40, 0.27);
}

footer {
  height: 22vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: #2e2e2e solid;
  border-width: 1px;
}
footer .logo {
  height: 74%;
}
footer .links {
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
footer .links a {
  font-size: 1.5rem;
  color: rgb(96, 96, 96);
  text-align: left;
}
footer .btn {
  font-size: 2.5rem;
  border-radius: 0;
  transition: ease 0.6s;
}
footer .btn:hover {
  font-size: 2.8rem;
  transition: ease 0.8s;
}

.mob {
  display: none;
}

.about-head-mob {
  font-family: "Bebas";
  font-size: 8rem;
  color: #eb0028;
  margin-top: 1em;
  margin-bottom: 0.5em;
  z-index: 99;
}
.about-head-mob .super {
  font-size: 5rem;
}

.about-text-mob {
  font-family: "Futura Md BT", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-left: 1em;
  padding-left: 1em;
  z-index: 99;
  text-align: left;
  border-left: 4px solid #eb0028;
  height: 915px;
  margin-bottom: 3em;
}

@media screen and (max-width: 800px) {
  #timer {
    transform: scale(1);
  }
  footer {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  #trailer {
    display: none;
  }
  .navbar {
    display: block;
  }
  .x {
    -webkit-mask-image: none;
            mask-image: none;
    background: none;
  }
  .hero-sec {
    height: 1800px;
  }
  .main-theme-section {
    padding: 5vh 1.5vh;
  }
  .main-theme-section .title {
    font-size: 10rem;
    line-height: 8.5rem;
    width: 100%;
  }
  .date-wrap {
    margin-top: 5em;
    display: block;
    padding: 0;
    height: auto;
    margin-bottom: 2em;
    width: 98%;
  }
  .date-wrap .cardContainer {
    width: 48%;
    padding: 0;
  }
  .date-wrap .cardContainer .top {
    font-size: 2rem;
    padding: 0 0.5em;
  }
  .date-wrap .cardContainer .bottom {
    font-size: 1.2rem;
    padding: 0 0.5em;
  }
  .date-wrap .two-wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .date-wrap .one-wrap {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .date-wrap .one-wrap .cardContainer {
    width: 60%;
  }
  .map {
    width: 90%;
    height: 250px;
    margin: 5em auto;
  }
  .nav {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transform: translateX(120%);
    transition: ease-in 0.3s;
  }
  .navOpen {
    transform: translateX(20%);
    transition: ease-out 0.3s;
  }
  #toggleNav {
    background-color: transparent;
  }
  .mob {
    display: block;
  }
  .desk {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */