
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 800px;
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.card:hover {
  height: 320px;
  box-shadow: 0 5px 35px #eb0027e4;
}


.image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.image img {
  max-width: 100%;
  border-radius: 15px;
}

.content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}


.card:hover .visiblename {
  visibility: hidden;
}

.visiblename {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 40px;
  left: 80px;
}

.knowbutton {
  background-image: linear-gradient(92.88deg, #eb0028 9.16%, #eb0020 43.89%, #be0423 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  margin-top: 0.6rem;
  font-size: 16px;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
}

.knowbutton:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}



.card2 {
  background-color: black;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  width: 80vw;
  height: 0vh;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}
.card2 h2 {
  margin: 0;
  padding: 0 1rem;
}

.name{
  color: white;
}
.card2 .title {
  padding: 1rem;
  text-align: right;
  color: red;
  font-weight: bold;
  font-size: 12px;
}
.card2 .desc {
  color: white;
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card2 .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.img-avatar {
  width: 160px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  border: 6px solid white;
  background: radial-gradient(486px at 37.5% -17.2%, rgb(255, 2, 2) 0%, rgb(254, 78, 172) 90%);
  top: 15px;
  left: 20.2em;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1693858323643-b61be7341e6f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: red;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}


/* .mainspeakercard {
  width: 80vw;
  height: 78vh;
  background: #111;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.909);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.maincontent{
  height: 100%;
  display: flex;
  
}

.line{
  height: 2px;
  background-color: red;
  width: 10em;
}

.speakerimage{
  width: 40%;
  height: 80%;
}

.speakerbio{

} */

/* .projcard-container,
.projcard-container * {
  box-sizing: border-box;
}

.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.projcard {
  position: relative;
  width: 90vw;
  height: 80vh;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}

.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}

.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}

.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
  width: 70px;
}

.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}

.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}

.projcard-textbox * {
  position: relative;
}

.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}

.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}

.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
  background-color: #0088FF;
}

.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}

.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}

.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
} */